h1 {
    text-align: center;
    background-color: rgb(225, 255, 249); 
}

.easy,
.medium {
    font-size: 20px;
    color: black;
}

.easy {
    background-color: rgb(212, 248, 157);
}

.medium {
    background-color: rgb(249, 249, 138);
}

p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}